<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Formulario Clientes</title>
<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header id="header">
	<h1>Registro de Cliente:</h1>
	</header>
	
	<form action="form-cliente.html" method="post">

        <label for="nombres">Nombres:</label><br><br>
        <input type="text" id="nombres" name="nombres" placeholder="ingresa tu nombre" required><br><br>

        <label for="apellidos">Apellidos:</label><br><br>
        <input type="text" id="apellidos" name="apellidos" placeholder="ingresa tu apellido" required><br><br>
        
        <label for="dni">DNI:</label><br><br>
        <input type="text" id="dni" name="dni" placeholder="ingresa n° documento" required><br><br>

        <label for="fecha_nacimiento">Fecha de nacimiento:</label><br><br>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>

        <label>Género:</label><br><br>
        <input type="radio" id="femenino" name="genero" value="femenino" required>
        <label for="femenino">Femenino</label>
        <input type="radio" id="masculino" name="genero" value="masculino">
        <label for="masculino">Masculino</label>
        <input type="radio" id="x" name="genero" value="x">
        <label for="x">Otro</label><br><br>

        <label for="email">Correo electrónico:</label><br><br>
        <input type="email" id="email" name="email" placeholder="ingrese email" required><br><br>

        <label for="domicilio">Domicilio:</label><br><br>
        <input type="text" id="domicilio" name="domicilio" placeholder="ingrese su domicilio" required><br><br>

        <label for="provincia">Provincia:</label><br><br>
        <select id="provincia" name="provincia" required>
            <option value="jujuy">Jujuy</option>
            <option value="cordoba">Córdoba</option>
            <option value="buenos aires">Buenos Aires</option>
            <option value="chubut">Chubut</option>
        </select><br><br>

        <label for="telefono">Número de teléfono celular:</label><br><br>
        <input type="text" id="telefono" name="telefono" placeholder="ingrese n° celular"><br><br>

        <label>Categorías de interés:</label><br><br>
        <input type="checkbox" id="categoria1" name="categorias_interes" value="categoria1">
        <label for="categoria1">Categoría 1</label>
        <input type="checkbox" id="categoria2" name="categorias_interes" value="categoria2">
        <label for="categoria2">Categoría 2</label>
        <input type="checkbox" id="categoria3" name="categorias_interes" value="categoria3">
        <label for="categoria3">Categoría 3</label><br><br><br>

        <label for="sugerencias">Sugerencias para la empresa:</label><br><br>
        <textarea id="sugerencias" name="sugerencias" rows="4" cols="50" placeholder="Coloque aquí sus sugerencias..."></textarea><br><br>

        <label for="password">Password:</label><br><br>
        <input type="password" id="password" name="password" placeholder="ingrese una contraseña" required><br><br>

        <input type="checkbox" id="terminos" name="terminos" required>
        <label for="terminos">Acepto los términos y condiciones</label><br><br>

        <input type="checkbox" id="informacion" name="informacion">
        <label for="informacion">Acepto recibir información relativa a la empresa</label><br><br>

        <input type="submit" value="Registrar">
        <input type="reset" value="Volver a llenar"><br><br>
	</form>
	
	<footer id="footer">
        <p>Email de contacto: siomaravenicio@gmail.com</p>
        <p>Redes sociales: <a href="https://twitter.com/say_sio">Twitter/X</a>, <a href="https://www.instagram.com/9osiomara/">Instagram</a></p>
    </footer>
</body>
</html>