<!DOCTYPE html>
<html lang="es">

<head> 
	<meta charset="UTF-8">
	<title>Prática de html-PV</title>
</head>

<body>
	<header>
	<h1>Programación Visual</h1>
	<nav>
        <ul>
            <li><a href="#sect1">Programación Visual y Páginas Web.</a></li>
            <li><a href="#sect2">Progrmación Visual y Aplicaciones Móviles</a></li>
            <li><a href="#sect3">Programación Visual y Videojuegos</a></li>
        </ul>
    </nav>
	</header>
	
	<main>
		<section id="sect1">
			<h2>Visual Programming: Páginas Web </h2>
			<h3>El uso de herramientas y técnicas.</h3>
			<p>
				La programación visual en el contexto de las páginas web se refiere al uso de herramientas
				y técnicas que permiten diseñar y desarrollar interfaces de usuario de manera visual e interactiva.
				Esto implica utilizar lenguajes como HTML, CSS y JavaScript junto con herramientas
				gráficas y editores de código que facilitan la creación y modificación de elementos visuales en una página web.
			</p>
			<p>
				Algunos aspectos destacados de la programación visual en las páginas web incluyen:
			</p>
            <ul>
                <li>Diseño Responsivo</li>
                <li>Interactividad</li>
                <li>Edición WYSIWYG (What You See Is What You Get)</li>
                <li>Frameworks Front-end</li>
            </ul>
            <table border="1">
                <tr>
                    <th>Aspectos: </th>
                    <th>-----------</th>
                </tr>
                <tr>
                    <td>Diseño Responsivo: </td>
                    <td>se utiliza para crear diseños que se adapten de manera fluida a diferentes tamaños de pantalla,desde dispositivos móviles hasta computadoras de escritorio. Esto se logra mediante técnicas como el uso de media queries en CSS y frameworks como Bootstrap, que permiten crear diseños flexibles y amigables para el usuario.</td>
                </tr>
                <tr>
                	<td>Interactividad: </td>
                    <td>Mediante el uso de JavaScript y bibliotecas como jQuery, los desarrolladores pueden agregar interactividad a las páginas web de forma visual. Esto incluye la creación de efectos de desplazamiento suave, animaciones, formularios dinámicos y elementos de navegación intuitivos que mejoran la experiencia del usuario.</td>
                </tr>
                <tr>
					<td>Edición WYSIWYG: </td>
					<td>Los editores de páginas web WYSIWYG (What You See Is What You Get) permiten a los diseñadores y desarrolladores crear y editar contenido visualmente, sin necesidad de escribir código HTML directamente. Estos editores proporcionan interfaces intuitivas que permiten arrastrar y soltar elementos, cambiar estilos y agregar contenido multimedia de manera visual.</td>
				</tr>
				<tr>
					<td>Frameworks Front-end: </td>
					<td>Los frameworks front-end como React, Angular y Vue.js ofrecen herramientas visuales para construir interfaces de usuario complejas de manera eficiente. Estos frameworks permiten crear componentes reutilizables y estructurar el código de manera modular, lo que facilita el desarrollo y mantenimiento de aplicaciones web escalables.</td>
				</tr>
            </table>
		</section>
		
		<section id="sect2">
			<h2>Visual Programming: Aplicaciones Móviles</h2>
			<h3>El uso de herramientas y técnicas.</h3>
			<p>La programación visual en el contexto de las aplicaciones móviles se refiere al uso de
				herramientas y técnicas que permiten diseñar y desarrollar interfaces de usuario para
				dispositivos móviles de manera visual e interactiva. Esto implica el uso de frameworks,
				SDKs y herramientas gráficas que facilitan la creación y personalización de la interfaz
				de usuario de una aplicación móvil.
			</p>
			<p>
				Algunos aspectos clave de la programación visual en aplicaciones móviles incluyen:
			</p>
            <ul>
                <li>Desarrollo Multiplataforma</li>
                <li>Componentes Visuales Personalizables</li>
                <li>Editores de Diseño WYSIWYG (What You See Is What You Get)</li>
                <li>Animaciones y Transiciones</li>
            </ul>
            <table border="1">
                <tr>
                    <th>Aspectos: </th>
                    <th>-----------</th>
                </tr>
                <tr>
                    <td>Desarrollo Multiplataforma: </td>
                    <td>Los frameworks de desarrollo multiplataforma como Flutter y React Native permiten a los desarrolladores crear aplicaciones móviles para iOS y Android utilizando un único código base. Estos frameworks ofrecen herramientas visuales para diseñar interfaces de usuario nativas y proporcionan acceso a funcionalidades del dispositivo como la cámara, el GPS y los sensores.</td>
                </tr>
                <tr>
					<td>Componentes Visuales Personalizables: </td>
					<td>Los SDKs de desarrollo de plataformas móviles proporcionan una amplia gama de componentes visuales predefinidos, como botones, barras de navegación y listas desplegables, que pueden ser personalizados y configurados visualmente mediante herramientas de diseño y edición. Esto permite a los desarrolladores crear interfaces de usuario coherentes y atractivas con un mínimo esfuerzo de codificación.</td>
				</tr>
				<tr>
					<td>Editores de Diseño WYSIWYG: </td>
					<td> Herramientas como Adobe XD, Sketch y Figma permiten a los diseñadores crear y prototipar interfaces de usuario para aplicaciones móviles de manera visual e interactiva. Estos editores ofrecen una amplia gama de recursos y plantillas que facilitan la creación de diseños atractivos y funcionales, así como la colaboración entre diseñadores y desarrolladores.</td>
				</tr>
				<tr>
					<td>Animaciones y Transiciones: </td>
					<td>La programación visual en aplicaciones móviles incluye la creación de animaciones y transiciones que mejoran la experiencia del usuario y hacen que la aplicación sea más atractiva y fácil de usar. Herramientas como Lottie y Flare permiten a los desarrolladores crear animaciones complejas y de alta calidad que pueden ser integradas en la aplicación de manera visual.</td>
				</tr>
            </table>
		</section>
		
		<section id="sect3">
			<h2>Visual Programming: Videojuegos</h2>
			<h3>El uso de herramientas y técnicas.</h3>
			<p>La programación visual en el contexto de los videojuegos se refiere al uso de herramientas
				y técnicas que permiten diseñar y desarrollar la lógica y la apariencia visual de un videojuego
				de manera interactiva. Esto implica el uso de motores de juego, editores gráficos y herramientas
				de animación que facilitan la creación y personalización de los elementos visuales y la jugabilidad del juego.
			</p>
			<p>Algunos aspectos importantes de la programación visual en videojuegos incluyen:</p>
            <ul>
                <li>Motores de Juegos Visuales</li>
                <li>Blueprints en Unreal Engine</li>
                <li>Herramientas de Modelados y Animación</li>
                <li>Editor de partículas y Efectos Visuales</li>
            </ul>
            <table border="1">
                <tr>
                    <th>Aspectos: </th>
                    <th>-----------</th>
                </tr>
                <tr>
					<td>Motores de Juegos Visuales: </td>
					<td>Los motores de juego como Unity y Unreal Engine ofrecen interfaces visuales y editores gráficos que permiten a los desarrolladores crear y configurar escenas, personajes y efectos especiales sin necesidad de escribir código. Estos motores proporcionan herramientas para la creación de terrenos, modelado 3D, animación y física del juego, lo que facilita el desarrollo de videojuegos complejos y visualmente impresionantes.</td>
                </tr>
                <tr>
					<td>Blueprints en Unreal Engine: </td>
					<td>Unreal Engine ofrece un sistema de programación visual llamado Blueprints, que permite a los desarrolladores crear la lógica del juego utilizando nodos gráficos interconectados en lugar de código de programación tradicional. Esto hace que sea más accesible para diseñadores y artistas participar en el proceso de desarrollo del juego y experimentar con diferentes ideas y mecánicas de juego.</td>
				</tr>
				<tr>
					<td>Herramientas de Modelado y Animación: </td>
					<td>Software como Blender, Maya y 3ds Max se utilizan para crear modelos 3D, texturas y animaciones que se integran en los videojuegos. Estas herramientas proporcionan interfaces visuales para esculpir, texturizar y animar personajes y objetos, así como para crear efectos visuales y cinemáticas que agregan profundidad y realismo al juego.</td>
				</tr>
				<tr>
					<td>Editores de Partículas y Efectos Visuales: </td>
					<td>Los motores de juego y software de creación de contenido ofrecen editores de partículas y efectos visuales que permiten a los desarrolladores crear efectos como fuego, humo, explosiones y partículas animadas que añaden dinamismo y espectacularidad a los videojuegos.</td>
				</tr>
            </table>
		</section>
	</main>
	
	<aside>
		<h3>Futuros desarrolladores: </h3>
        <a href="https://developers.google.com/search/case-studies/overview?hl=es-419">(click aquí)</a>
        <img src="https://pixabay.com/es/photos/teclado-electr%C3%B3nica-teclas-122729/" alt="tecnología">
	</aside>
	
	<footer>
        <p>Email de contacto: siomaravenicio@gmail.com</p>
        <p>Redes sociales: <a href="https://twitter.com/say_sio">Twitter/X</a>, <a href="https://www.instagram.com/9osiomara/">Instagram</a></p>
    </footer>
</body>
